body {
font-family: 'Francois One', sans-serif;
}
.arc path {
  stroke: #fff;
}
button {
  background-color: white;
  color: black;
  width:100;
  height:50;
  font-size: 30px;
  border-radius: 20px;
  font-size: 30px;
}
#container {
  margin-top: 100px;
  text-align: center;
}
svg {
  display: inline-block;
}
li {
  list-style-type: none;
}
#pg_top {
  background-color: #000000;
  text-align: center;
  position: fixed;
  top: 0px;
  right: 0;
  left: 0;
  display:inline-block
}
#banner {
  color: #ffffff;
  background-color: #000000;
}
h1 {
  text-align: center;
  display:inline-block;
  font-family: 'Francois One', sans-serif;
}
.studioText {
  color: gray;
}
text.svg2content{
    width: 100%;
    border: 2px solid red;
    overflow:auto;
}
body{
    overflow-wrap: break-word;
}
img {
    width: 50px;
    display:inline-block;
}
#details{
    width: 100%;
    display:inline-block;
    height: 8em;
}
#description {
  font-size: 20px;
}
